/libcsl_godot/target
/demo/preview_token.txt
/demo/addons/
/demo/out/
/test/addons/
/private-testnet/
*.so
*.dll
.godot/
seed_phrase.txt
preview_token.txt
result*
*/.godot/
.pre-commit-config.yaml
*/.home/
